@import "../../styles/theme";

.Button {
  display: flex;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: auto 15px;
  width: 150;
  justify-content: center;
  align-items: center;

  background: $blue;
  color: $white;

  font-family: $ss-pro;
  font-size: 1rem;
  text-align: center;

  cursor: pointer;
  transition-duration: 0.1s;
}

.Button:active {
  background: darken($blue, 5);
}

.Button.large {
  padding: 5px 15px;
}

.Button.medium {
  font-size: 1rem;
  height: 35px;
  padding: 1px 10px;
}

.Button.small {
  font-size: 0.9rem;
  height: 30px;
  padding: 0 7.5px;
}

.Button.tiny {
  font-size: 0.8rem;
  height: 25px;
  padding: 0 6px;
}

.no-fill {
  background: red;
  color: $color-text;
}

.primary {background: $blue;}
.emerald {background: $green;}
.orange {background: $orange;}
.yellow {background: $yellow;}
.red {background: $red;}

.elevated {
  box-shadow: 0px 2px 2px 0.1px rgba(0, 0, 0, 0.2);
}
