@import "../../styles/theme";

.ListItem {
  background: $white;
  list-style: none;
  padding: 5px;
}

.ListItemSecondaryText {
  font-weight: 100;
}

.ListItemButton > .Button {
  border-radius: 0;
}
