@import "../../styles/theme";

.ClickawayListener {
}

.ClickawayListener::after {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.ClickawayListener > * {
  z-index: 200;
  position: relative;
}
