// Fonts
$ss-pro: "Source Sans Pro", sans-serif;
$open-sans: "Open Sans", sans-serif;
$lato: "Lato", sans-serif;

// Font Colors
$color-text: #111111;
$color-text-light: #969696;
$color-text-lighter: #b2b2b2;

$color-text-contrast: #ffffff;
$color-text-contrast-light: #b2b2b2;
$color-text-contrast-lighter: #969696;

// Background Colors
$gray: #d3d4d4;

// Primary Colors
$blue: #5065f6;
$white: #ffffff;
$green: #28b95e;
$red: #f04b69;
$orange: #f0783c;
$yellow: #ddb40a;

// Light Colors
$light-blue: #8491f7;
$light-white: #ffffff;
$light-green: #68ce8f;
$light-red: #f04b69;
$light-orange: #f3a076;
$light-yellow: #e7ca54;

// Lighter Colors
$lighter-blue: #a7b1f9;
$lighter-white: #ffffff;
$lighter-green: #93dcaf;
$lighter-red: #f9b7c3;
$lighter-orange: #f0783c;
$lighter-yellow: #edd983;

// Even lighter colors
$even-lighter-blue: #dce0fd;
$even-lighter-white: #ffffff;
$even-lighter-green: #d4f1df;
$even-lighter-red: #f04b69;
$even-lighter-orange: #fcdce1;
$even-lighter-yellow: #f9f0cf;

// Lightest Colors
$lightest-blue: #dce0fd;
$lightest-white: #ffffff;
$lightest-green: #e9f9ef;
$lightest-red: #f04b69;
$lightest-orange: #fdedf0;
$lightest-yellow: #faf7e6;

// Secondary Colors
$secondary-blue: #0064faff;
$purple: #5f01baff;
$magenta: #ee589fff;
$cyan: #14b4e6ff;
$silver: #aeaeaeff;

*::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}

*::-webkit-scrollbar-button {
  border-radius: 10px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 7px;
}

*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-resizer {
  background: black;
  border-radius: 10px 0 8px 0;
}
