
// Fonts
$ss-pro: "Source Sans Pro", sans-serif;
$open-sans: "Open Sans", sans-serif;
$lato: "Lato", sans-serif;

// Font Colors
$color-text: #111111;
$color-text-light: #969696;
$color-text-lighter: #b2b2b2;

$color-text-contrast: #ffffff;
$color-text-contrast-light: #b2b2b2;
$color-text-contrast-lighter: #969696;

// Background Colors
$gray: #d3d4d4;

// Primary Colors
$blue: #5065f6;
$white: #ffffff;
$green: #28b95e;
$red: #F04B69;
$orange: #f0783c;
$yellow: #DDB40A;

// Light Colors
$light-blue: #8491F7;
$light-white: #ffffff;
$light-green: #68CE8F;
$light-red: #f04b69;
$light-orange: #F3A076;
$light-yellow: #E7CA54;

// Lighter Colors
$lighter-blue: #A7B1F9;
$lighter-white: #ffffff;
$lighter-green: #93DCAF;
$lighter-red: #F9B7C3;
$lighter-orange: #f0783c;
$lighter-yellow: #EDD983;

// Even lighter colors
$even-lighter-blue: #DCE0FD;
$even-lighter-white: #ffffff;
$even-lighter-green: #D4F1DF;
$even-lighter-red: #f04b69;
$even-lighter-orange: #FCDCE1;
$even-lighter-yellow: #F9F0CF;

// Lightest Colors
$lightest-blue: #DCE0FD;
$lightest-white: #ffffff;
$lightest-green: #E9F9EF;
$lightest-red: #f04b69;
$lightest-orange: #FDEDF0;
$lightest-yellow: #FAF7E6;

// Secondary Colors
$secondary-blue: #0064FAff;
$purple: #5F01BAff;
$magenta: #EE589Fff;
$cyan: #14B4E6ff;
$silver: #AEAEAEff;
