*::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px; }

*::-webkit-scrollbar-button {
  border-radius: 10px;
  display: none; }

*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 7px; }

*::-webkit-scrollbar-corner {
  display: none; }

*::-webkit-resizer {
  background: black;
  border-radius: 10px 0 8px 0; }

.Divider {
  background: #0064faff; }

.Divider.vertical {
  width: 2px; }
