*::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}

*::-webkit-scrollbar-button {
  border-radius: 10px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 7px;
}

*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-resizer {
  background: black;
  border-radius: 10px 0 8px 0;
}

.TextField > input:focus,
.TextField > textarea:focus {
  outline: 2px solid #e2e2e2;
}

.TextField > textarea,
.TextField > input {
  border: 1px solid silver;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
