.TextField > input:focus,
.TextField > textarea:focus {
  outline: 2px solid #e2e2e2;
}

.TextField > textarea,
.TextField > input {
  border: 1px solid silver;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
