@import "../../styles/theme";

.RadioList {
  font-family: $ss-pro;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.RadioItem {
  margin: 0.5rem;
}

.horizontal {
  flex-direction: row;
}
